<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
 <div class="layui-container">
        <blockquote class="layui-elem-quote">
            <h1>添加用户</h1>
        </blockquote>

        <div class="layui-row">

            <div class="layui-col-md5">
                <form action="" method="post" enctype="multipart/form-data"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="username" id="username" placeholder="用户名" class="layui-input"/>
                    <hr class="layui-bg-green">

                    <input type="text" name="password" id="password" placeholder="密码" class="layui-input"/>
                    <hr class="layui-bg-green">

{#                    <input type="file" name="tImage" id="tImage"/>#}

                    <hr class="layui-bg-green">
                    <input type="submit" value="添加" class="layui-btn"/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>